<form #form=ngForm (ngSubmit)="onSubmit(form)">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Player1</h5>
            <input [ngModel]="user.name1" name="name1" class="form-control" type="text" placeholder="お名前">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Player2</h5>
            <input [ngModel]="user.name2" name="name2" class="form-control" type="text" placeholder="お名前">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Player13</h5>
            <input [ngModel]="user.name3" name="name3" class="form-control" type="text" placeholder="お名前">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Player14</h5>
            <input [ngModel]="user.name4" name="name4" class="form-control" type="text" placeholder="お名前">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Date</h5>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input [ngModel]="user.playDate" name="playDate" matInput [matDatepicker]="picker">
              <mat-hint>YYYY/MM/DD</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="card text-white bg-secondary">
          <div class="card-body">
            <h5 class="card-title">Course Name</h5>
            <input [ngModel]="user.courseName" name="courseName" class="form-control" type="text" placeholder="コース名">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <!-- <a routerLink="/score" routerLinkActive="router-link-active" > -->
          <button class="btn btn-primary btn-block" type="submit">プレイ開始</button>
        <!-- </a> -->
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</form>


