<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center">Ａさん</th>
      <th scope="col" class="text-center">Ｂさん</th>
      <th scope="col" class="text-center">Ｃさん</th>
      <th scope="col" class="text-center">Ｄさん</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <a routerLink="scoreedit" class="btn btn-primary btn-block" href="#" role="button">IN1</a>
      </th>
      <td class="text-center">Score: 5<br>(Put:2)</td>
      <td class="text-center">Score: 5<br>(Put:2)</td>
      <td class="text-center">Score: 5<br>(Put:2)</td>
      <td class="text-center">Score: 5<br>(Put:2)</td>
    </tr>
    <tr>
      <th scope="row">
        <a routerLink="scoreedit" class="btn btn-primary btn-block" href="#" role="button">IN2</a>
      </th>
      <td>Score: 5<br>(Put:2)</td>
      <td>Score: 5<br>(Put:2)</td>
      <td>Score: 5<br>(Put:2)</td>
      <td>Score: 5<br>(Put:2)</td>
    </tr>
  </tbody>
</table>
