<div *ngIf="score">
  <table class="table">
    <thead class="position-sticky">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">{{ score.name1 }}</th>
        <th scope="col" class="text-center">{{ score.name2 }}</th>
        <th scope="col" class="text-center">{{ score.name3 }}</th>
        <th scope="col" class="text-center">{{ score.name4 }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score_no of score.course; let couseIndex = index">
        <th scope="row">
          <a routerLink="scoreedit" class="btn btn-primary btn-block" href="#" role="button">{{ score_no.no }}</a>
        </th>
        <td class="text-center">Score: {{ score_no.score1 }}<br>(Put:{{ score_no.put1 }})</td>
        <td class="text-center">Score: {{ score_no.score2 }}<br>(Put:{{ score_no.put2 }})</td>
        <td class="text-center">Score: {{ score_no.score3 }}<br>(Put:{{ score_no.put3 }})</td>
        <td class="text-center">Score: {{ score_no.score4 }}<br>(Put:{{ score_no.put4 }})</td>
      </tr>
    </tbody>
  </table>
</div>
