<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <img src="assets/img/top.jpg" class="first-slide mx-auto" width="100%" height="180" alt="...">
        <div class="card-body">
          <div class="card-text">
            新しく始める場合は
            「メンバーを登録して開始」を押してください。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<a router-link="newgame">
  <a class="btn btn-primary btn-block" href="newgame" role="button">メンバーを登録して開始</a>
</a>
<br>
<a class="btn btn-primary btn-block" href="score" role="button">スコア一覧</a>

